<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <title>{{.Title}}</title>
    <meta charset="UTF-8">
    <meta name="description" content="{{.Description}}"/>
    <meta name="theme-color" content="{{.ThemeColor}}">

    <meta name="theme-color" content="#ffffff">

</head>
<style>
    body{
        background-color: #1d1e1e;
    }
    html, body {
        margin: 0;
        padding: 0
    }
    .box {
        width: 100vw;
        max-width:100%; // This is very Important.
    height: 100vh;
    }
</style>

<body>


<div class="box" align="center">

    <img src="momento.svg" alt="" width="40%" >

 </div>



</body>
</html>
